In [1]:
import pandas as pd

In [2]:
# Load data
dataset = pd.read_csv('./datasets/TrainData5.txt', header= None, delim_whitespace=True) # delim_whitespace=True
test_dataset = pd.read_csv('./datasets/TestData5.txt', header= None, delim_whitespace=True)
output = pd.read_csv('./datasets/TrainLabel5.txt', sep='\n', header= None)

In [3]:
features = 11
x = dataset.iloc[:,0:features].values
y = output.iloc[:,:1].values
test = test_dataset.iloc[:,0:features]

In [4]:
test.head()

    0     1     2    3      4     5      6       7     8     9     10
0  7.9  0.60  0.06  1.6  0.069  15.0   59.0  0.9964  3.30  0.46   9.4
1  7.5  0.50  0.36  6.1  0.071  17.0  102.0  0.9978  3.35  0.80  10.5
2  7.8  0.61  0.29  1.6  0.114   9.0   29.0  0.9974  3.26  1.56   9.1
3  8.5  0.28  0.56  1.8  0.092  35.0  103.0  0.9969  3.30  0.75  10.5
4  8.1  0.56  0.28  1.7  0.368  16.0   56.0  0.9968  3.11  1.28   9.3

In [5]:
# split data
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

In [6]:
# machine learning model_pipeline
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB


model_pipeline = []
model_pipeline.append(SVC())
model_pipeline.append(KNeighborsClassifier())
model_pipeline.append(DecisionTreeClassifier())
model_pipeline.append(RandomForestClassifier())
model_pipeline.append(GaussianNB())

In [7]:
# model evaluation
from sklearn import metrics
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

model_list = ['SVM', 'KNN', 'Decision Tree', 'Random Forest', 'Naive Bayes']
acc_list = []
cm_list = []

for model in model_pipeline:
    model.fit(x_train, y_train.ravel())
    y_pred = model.predict(x_test)
    acc_list.append(metrics.accuracy_score(y_test, y_pred))
    cm_list.append(confusion_matrix(y_test, y_pred))

In [8]:
result_df = pd.DataFrame({'Model' :model_list, 'Accuracy' : acc_list})
result_df

           Model  Accuracy
0            SVM  0.481081
1            KNN  0.481081
2  Decision Tree  0.578378
3  Random Forest  0.654054
4    Naive Bayes  0.516216