In [1]:
import numpy as np
import pandas as pd
import math

In [2]:
dataset = pd.read_csv('./clean_datasets/TrainData1.txt', header= None, delim_whitespace=True) # delim_whitespace=True
test_dataset = pd.read_csv('./clean_datasets/TestData1.txt', header= None, delim_whitespace=True)
output = pd.read_csv('./datasets/TrainLabel1.txt', sep='\n', header= None)

In [3]:
features = 3312
x = dataset.iloc[:,0:features].values
y = output.iloc[:,:1].values
test = test_dataset.iloc[:,0:features]

In [4]:
test.head()

,0,1,2,3,4,5,6,7,8,9,...,3302,3303,3304,3305,3306,3307,3308,3309,3310,3311
0,3.841106,1.732474,1.711807,2.415107,3.008562,3.068572,3.336568,3.475879,3.591656,3.705524,...,1.833975,1.874598,1.091497,2.136625,2.924662,2.018034,2.674641,1.888965,2.721975,1.879440
1,3.812389,2.126927,1.942529,2.591743,3.552610,3.294998,3.557571,3.606420,3.681815,3.661349,...,1.381205,1.433530,1.631495,2.155206,3.314882,1.729286,2.509639,2.238134,2.433794,1.815777
2,3.840183,1.897517,1.897517,2.412864,3.209561,3.181998,3.316767,3.520033,3.595931,3.613428,...,1.750740,1.778947,1.000000,2.165185,2.732659,1.707996,2.599151,2.182814,2.406421,2.022923
3,3.893489,2.065841,1.959947,2.606220,3.401351,3.545868,3.690366,3.254935,3.429752,3.637449,...,1.851543,1.847511,2.262593,2.061716,3.370104,1.757775,2.525770,1.000000,2.280373,1.610767
4,3.822854,1.644242,1.736715,2.404782,3.388622,3.304796,3.344968,3.480182,3.586667,3.603737,...,1.842047,1.754272,1.000000,2.146903,3.101072,1.907196,2.706820,1.997954,2.348733,2.112840

In [5]:
n_neighbors = int(math.sqrt(len(x)))
if n_neighbors % 2 == 0:
    n_neighbors = n_neighbors-1
else:
    n_neighbors = n_neighbors
print(n_neighbors)

11

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = .33, random_state=42)

In [8]:
from sklearn.neighbors import KNeighborsClassifier

In [9]:
KNN = KNeighborsClassifier(n_neighbors=n_neighbors,
                          weights='uniform',
                          algorithm='kd_tree',
                          leaf_size=30,
                          p=2,
                          metric='minkowski',
                          n_jobs=-1)

In [10]:
KNN

KNeighborsClassifier(algorithm='kd_tree', n_jobs=-1, n_neighbors=11)

In [11]:
KNN.fit(x_train, y_train.ravel())

KNeighborsClassifier(algorithm='kd_tree', n_jobs=-1, n_neighbors=11)

In [12]:
y_predict = KNN.predict(x_test)

In [13]:
test_prediction = KNN.predict(test)
print(test_prediction)
np.savetxt('./results/ZamanKurienClassification1.txt', test_prediction, fmt='%d', delimiter='\n')

[2 1 1 1 1 2 1 1 1 1 3 1 1 1 1 1 1 1 1 1 1 4 1 1 1 1 1 4 1 1 1 1 4 1 1 1 1
 4 1 1 1 1 4 1 1 1 1 1 1 1 1 1 1]