In [1]:
import math
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('datasets/TrainData1.txt', na_values='1.00000000000000e+99', header=None, delim_whitespace=True)
df.columns

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            3302, 3303, 3304, 3305, 3306, 3307, 3308, 3309, 3310, 3311],
           dtype='int64', length=3312)

In [3]:
features = 3312
x = df.iloc[:,0:features]
print("Number of samples:", len(x))
x.head()

Number of samples: 150

,0,1,2,3,4,5,6,7,8,9,...,3302,3303,3304,3305,3306,3307,3308,3309,3310,3311
0,3.824254,1.923762,1.918450,2.352067,3.117298,3.051735,3.307977,3.430222,3.586667,3.605218,...,1.836830,1.855640,1.142389,2.054345,2.808224,1.782186,2.665703,2.468214,2.478581,2.308842
1,3.904190,2.309524,2.152930,NaN,3.532368,3.524866,3.677791,3.636671,3.696868,3.716764,...,1.951532,1.442323,1.000000,2.127914,2.979658,1.961089,2.519027,2.054383,2.689903,2.090928
2,3.750908,1.161068,1.017033,2.347993,3.381889,3.393096,3.509134,3.512466,3.622203,3.603050,...,1.000000,1.584105,1.000000,1.945321,3.257004,1.965061,2.536066,1.449324,2.605230,1.368659
3,3.809383,1.912355,1.856940,2.498944,3.289406,3.371232,3.541995,NaN,3.473179,3.628930,...,1.869965,1.481658,1.000000,2.155032,3.270371,1.928473,2.618074,2.154013,2.530046,2.185514
4,3.893561,2.094192,1.881271,2.785707,3.344339,3.274417,3.485872,3.516527,3.642358,3.688235,...,1.480725,1.510545,1.000000,2.094192,3.246666,1.824516,2.562317,1.942256,2.598517,1.764624

In [4]:
n_neighbors = int(math.sqrt(len(x)))
if n_neighbors % 2 == 0:
    n_neighbors = n_neighbors-1
else:
    n_neighbors = n_neighbors
print(n_neighbors)

11

In [5]:
df.isna().sum()

0       2
1       1
2       2
3       2
4       3
       ..
3307    1
3308    1
3309    4
3310    5
3311    2
Length: 3312, dtype: int64

In [6]:
from sklearn.impute import KNNImputer

In [7]:
imputer = KNNImputer(n_neighbors=n_neighbors)

In [8]:
df_filled = imputer.fit_transform(df)
np.savetxt('./clean_datasets/TrainData1.txt', df_filled, fmt='%1.14f', delimiter='\t')