In [1]:
import numpy as np
import pandas as pd
import math

In [2]:
dataset = pd.read_csv('./clean_datasets/TrainData3.txt', header= None, delim_whitespace=True) # delim_whitespace=True
test_dataset = pd.read_csv('./clean_datasets/TestData3.txt', header= None, delim_whitespace=True)
output = pd.read_csv('datasets/TrainLabel3.txt', sep='\n', header= None)

In [3]:
features = 13
x = dataset.iloc[:,0:features].values
y = output.iloc[:,:1].values
test = test_dataset.iloc[:,0:features]

In [4]:
test.head()

    0    1    2    3    4    5    6    7    8    9    10   11   12
0  1.0  5.0  3.0  4.0  1.0  5.0  1.0  3.0  0.0  1.0  1.0  7.0  1.0
1  2.0  1.0  4.0  3.0  5.0  5.0  3.0  2.0  0.0  1.0  1.0  7.0  1.0
2  1.0  5.0  2.0  3.0  9.0  2.0  1.0  4.0  1.0  3.0  1.0  7.0  1.0
3  1.0  2.0  2.0  2.0  3.0  2.0  1.0  4.0  2.0  3.0  3.0  7.0  1.0
4  2.0  5.0  3.0  4.0  1.0  2.0  1.0  1.0  0.0  2.0  2.0  7.0  1.0

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3, random_state=1)

In [7]:
from sklearn.svm import SVC

In [8]:
svc = SVC()

In [9]:
svc.fit(x_train, y_train.ravel())

SVC()

In [10]:
y_predict = svc.predict(x_test)

In [11]:
test_prediction = svc.predict(test)
# print(test_prediction)
np.savetxt('./results/ZamanKurienClassification3.txt', test_prediction, fmt='%d', delimiter='\n')

[8 6 1 ... 1 6 6]